
body {
  margin-bottom: 100px;
}

#back-btn {
  font-size: 4em;
  color: white;
  cursor: pointer;
}

.post-content-text {
  margin-left: 50px;
  margin-right: 100px;
  font-size: 20px;
}

.mainOverlay {
  background-color: black;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.main {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
}

.main .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main .container h4 {
  margin-bottom: 0;
}

.main .container h3 {
  margin-top: 0;
}

.main .container .scrollLabel {
  opacity: 0.6;
  padding-top: 5px;
}

.button.button-primary {
  background-color: #0069ff !important;
  border: 0;
  line-height: 50px;
  height: 50px;
  padding: 0 50px;
}

.button.button-primary:hover {
  background-color: #3a8bff !important;
  border: 0;
}

.button.button-primary:active {
  background-color: #0069ff !important;
  border: 0;
}

.button.button-primary:link {
  background-color: #0069ff !important;
  border: 0;
}

.work {
  background-color: black;
  padding: 5% 0% 5% 0%;
  color: white;
}

.work h3 {
  opacity: 0.9;
}

.work p {
  opacity: 0.75;
  margin-bottom: 0;
}

.item {
  background-position: center center !important;
  background-size: cover !important;
  margin-top: 5%;
  border-radius: 4px;
}

.itemOverlay {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  border-radius: 4px;
}


/** Loading Stuff **/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
